{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products Page - Dashboard Template</title>
    <!--

    Template 2108 Dashboard

	http://www.tooplate.com/view/2108-dashboard

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.min.css')}}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{{ asset('assets/css/tooplate.css')}}">
</head>

<body id="reportsPage" class="bg02">
    <div class="" id="home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-xl navbar-light bg-light">
                        <a class="navbar-brand" href="{{ path('app_backA')}}">
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon"></i>
                            <h1 class="tm-site-title mb-0">Dashboard</h1>
                        </a>
                        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
            <a class="nav-link" href="{{ path('app_back') }}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_competition') }}">Competition</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if app.request.attributes.get('_route') == 'app_reservation' %}active{% endif %}" href="{{ path('app_reservation') }}">
                Reservation
                {% if app.request.attributes.get('_route') == 'app_reservation' %}
                    <span class="sr-only">(current)</span>
                {% endif %}
            </a>
        </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- row -->
        <div class="row tm-content-row tm-mt-big">
    <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
        <div class="bg-white tm-block h-100">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <h2 class="tm-block-title d-inline-block">Liste des Compétitions</h2>
                </div>
                <div class="col-md-4 text-right">
                    <a href="{{ path('app_ajouter_competition') }}" class="btn btn-success btn-sm">Ajouter une compétition</a>
                </div>
            </div>

            <div class="table-responsive mt-4">
                <table class="table table-hover table-striped tm-table-striped-even">
                    <thead>
                        <tr class="tm-bg-gray">
                            <th>#</th>
                            <th>Nom</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Lieu</th>
                            <th>Participants</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for competition in competitions %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ competition.nom }}</td>
                                <td>{{ competition.type }}</td>
                                <td>{{ competition.dateC|date('d/m/Y') }}</td>
                                <td>{{ competition.lieuC }}</td>
                                <td>{{ competition.nbPart }}</td>
                                <td style="max-width: 200px; word-break: break-word;">{{ competition.description }}</td>
                                <td>
                                    <a href="{{ path('app_modifier_competition', {'id': competition.idC}) }}" class="btn btn-warning btn-sm">Modifier</a>

                                    <form action="{{ path('app_supprimer_competition', {'id': competition.idC}) }}" method="POST" style="display: inline-block;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette compétition ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ competition.idC) }}">
                                        <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                                    </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr><td colspan="8" class="text-center">Aucune compétition trouvée.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="pagination-wrapper">
                <ul class="pagination">
                    <li class="page-item {% if competitions.getCurrentPageNumber() == 1 %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('app_competition', {page: competitions.getCurrentPageNumber() - 1}) }}">Précédent</a>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">{{ competitions.getCurrentPageNumber() }}</span>
                    </li>
                    <li class="page-item {% if competitions.getCurrentPageNumber() == competitions.getPageCount() %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('app_competition', {page: competitions.getCurrentPageNumber() + 1}) }}">Suivant</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>


            <footer class="row tm-mt-small">
                <div class="col-12 font-weight-light">
                    <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                        Copyright &copy; 2018 Admin Dashboard . Created by
                        <a rel="nofollow" href="https://www.tooplate.com" class="text-white tm-footer-link">Tooplate</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
    <script src="{{ asset('assets/js/jquery-3.3.1.min.js')}}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{{ asset('assets/js/bootstrap.min.js')}}"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
        $(function () {
            $('.tm-product-name').on('click', function () {
                window.location.href = "edit-product.html";
            });
        })
    </script>
</body>

</html>

{% endblock %}