{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accounts Page - Dashboard Template</title>
    <!--

    Template 2108 Dashboard

	http://www.tooplate.com/view/2108-dashboard

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.min.css')}}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{{ asset('assets/css/tooplate.css')}}">
</head>

<body class="bg03">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-xl navbar-light bg-light">
                    <a class="navbar-brand" href="index.html">
                        <i class="fas fa-3x fa-tachometer-alt tm-site-icon"></i>
                        <h1 class="tm-site-title mb-0">Dashboard</h1>
                    </a>
                    <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_back') }}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_competition') }}">Competition</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if app.request.attributes.get('_route') == 'app_reservation' %}active{% endif %}" href="{{ path('app_reservation') }}">
                Reservation
                {% if app.request.attributes.get('_route') == 'app_reservation' %}
                    <span class="sr-only">(current)</span>
                {% endif %}
            </a>
        </li>
    </ul>
</div>

                </nav>
            </div>
        </div>
        <!-- row -->
            
<div class="row tm-content-row tm-mt-big">
    <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
        <div class="bg-white tm-block h-100">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <h2 class="tm-block-title d-inline-block">Liste des Réservations</h2>
                </div>
            </div>

            <div class="mb-3">
                <a href="{{ path('app_reservation_pdf') }}" class="btn btn-primary">Télécharger en PDF</a>
            </div>

            <div class="table-responsive mt-4">
                <table class="table table-hover table-striped tm-table-striped-even">
                    <thead>
                        <tr class="tm-bg-gray">
                            <th>#</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Numéro</th>
                            <th>Date</th>
                            <th>Mode</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reservation in reservations %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ reservation.nomP }}</td>
                                <td>{{ reservation.prenomP }}</td>
                                <td>{{ reservation.email }}</td>
                                <td>{{ reservation.num }}</td>
                                <td>{{ reservation.dateR|date('d/m/Y') }}</td>
                                <td>{{ reservation.modeP }}</td>
                                <td>
                                    <a href="{{ path('app_modifier_reservation', {'id': reservation.idR}) }}" class="btn btn-warning btn-sm">Modifier</a>

                                    <form action="{{ path('app_supprimer_reservation', {'id': reservation.idR}) }}" method="POST" style="display: inline-block;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette réservation ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.idR) }}">
                                        <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                                    </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8" class="text-center">Aucune réservation trouvée.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="pagination-wrapper">
                <ul class="pagination">
                    <li class="page-item {% if reservations.getCurrentPageNumber() == 1 %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('app_reservation', {page: reservations.getCurrentPageNumber() - 1}) }}">Précédent</a>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">{{ reservations.getCurrentPageNumber() }}</span>
                    </li>
                    <li class="page-item {% if reservations.getCurrentPageNumber() == reservations.getPageCount() %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('app_reservation', {page: reservations.getCurrentPageNumber() + 1}) }}">Suivant</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

        <footer class="row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                    Copyright &copy; 2018 Admin Dashboard . Created by
                    <a rel="nofollow" href="https://www.tooplate.com" class="text-white tm-footer-link">Tooplate</a>
                </p>
            </div>
        </footer>
    </div>

    <script src="{{ asset('assets/js/jquery-3.3.1.min.js')}}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{{ asset('assets/js/bootstrap.min.js')}}"></script>
    <!-- https://getbootstrap.com/ -->
</body>

</html>

{% endblock %}