<div class="form-container">
    {{ form_start(form) }}

    {% for field in form %}
        <div class="form-group">
            {{ form_label(field) }}
            {{ form_widget(field) }}
            {{ form_errors(field) }}
        </div>
    {% endfor %}

    <button class="btn">{{ button_label|default('Save') }}</button>

    {{ form_end(form) }}
</div>
